<img src = "python-logo.png" width = "300" height = "300">
<h1>Stings in Python</h1>
<ul>
    <li>In Python, string is a sequence of characters enclosed within single quotes or double quotes.</li>
    <li>It is used to represent text data and can contain letters, numbers, symbols, and whitespace.</li>
    <li>It has 47 built-in methods.</li>
    <li>Ways to declare a string in Python:</li>
</ul>
<ol>
    <li>Single Quotes ('string') --> Single-line</li>
    <li>Double Quotes ("string") --> Single-line</li>
    <li>Triple Quotes ("""string""") --> Multi-line</li>
</ol>
<ul>
    <li>We can use quotes inside a string, as long as they don't match the quotes surrounding the string.</li>
</ul>
<h1>Key Characteristics:</h1>
<ul>
    <li>Sequence Data Type</li>
    <li>Immutable</li>
    <li>Unicode Support</li>
</ul>

In [247]:
empty_string = ""
print(empty_string)
print(len(empty_string))
print(type(empty_string))

0
<class 'str'>

In [249]:
my_string = 'Welcome to "Python" world'
print(my_string)
print(len(my_string))
print(type(my_string))

Welcome to "Python" world
25
<class 'str'>

In [251]:
my_string = "This is Bob's dog"
print(my_string)

This is Bob's dog

In [253]:
my_string = 'This is Bob\'s "world"'
print(my_string)

This is Bob's "world"

In [255]:
my_string = "Welcome \
to \
python \
world"
print(my_string)

Welcome to python world

In [257]:
my_string = """
Wecome
to
Python
World
"""
print(my_string)

Wecome
to
Python
World

In [259]:
my_string1 = 'a'
my_string2 = "a"
my_string3 = """a"""
print(my_string1)
print(my_string2)
print(my_string3)

a
a
a

In [261]:
raw_string1 = r"This is Bob's dog"
raw_string2 = r"c:\users\techie\documents"
print(raw_string1)
print(raw_string2)

This is Bob's dog
c:\users\techie\documents

In [263]:
# Unicode Characters in a string using several methods:
my_string1 = "Hello, \u263A"
print(my_string1)
my_string2 = "Unicode Star:\U0001F31F"
print(my_string2)
my_string3 = "Smiley:" + chr(0x263A)
print(my_string3)
my_string4 = "Star:" + chr(0x1F31F)
print(my_string4)
my_string5 = "Smiley Face with Smiley Eyes:" + chr(128522)
print(my_string5)

Hello, â˜º
Unicode Star:ðŸŒŸ
Smiley:â˜º
Star:ðŸŒŸ
Smiley Face with Smiley Eyes:ðŸ˜Š

In [265]:
my_string = "Hello World!"
print(my_string)
print(id(my_string))
# my_string[0] = "h"
# TypeError: 'str' object does not support item assignment
my_string = "h" + my_string[1:]
print(my_string)
print(id(my_string))

Hello World!
2771034706416
hello World!
2771034705264

In [267]:
# Membership Testing
my_string = "The best things in life are free!"
print("free" in my_string)
print("expense" in my_string)

True
False

In [269]:
# looping strings
for i in "string":
    print(i, end = " ")

s t r i n g

In [271]:
# Concatenation and Repetition
my_string1 = "hello "
my_string2 = "world"
print(my_string1 + my_string2)
print(my_string1 * 3)

hello world
hello hello hello

In [273]:
# String Indexing
my_string = "hello world"
print(my_string[0])
print(my_string[3])
print(my_string[-1])
print(my_string[-5])

h
l
d
w

In [275]:
# String Slicing
my_string = "hello world"
print(my_string[0:])
print(my_string[0:3])
print(my_string[-1:-4:-1])
print(my_string[-5:-1])

hello world
hel
dlr
worl

In [277]:
# Find the positive and negative indices
my_string = "Python"
char = "o"
positive_index = my_string.index(char)
negative_index = positive_index - len(my_string)
print(f"Positive index of '{char}' is {positive_index}")
print(f"Negative index of '{char}' is {negative_index}")

Positive index of 'o' is 4
Negative index of 'o' is -2

In [279]:
# String built-in methods
# 1. string.capitalize()

my_string = "welcome"
print(my_string.capitalize())

Welcome

In [281]:
# 2. string.casefold()

my_string = "Hello, And Welcome To My World!"
print(my_string.casefold())

hello, and welcome to my world!

In [283]:
# 3. string.find(value, start, end)

my_string = "Hello, welcome to my world"
print(my_string.find("e"))
print(my_string.find("e", 2))
print(my_string.find("e", 9, 26))
print(my_string.find("q"))

# 4. string.find(value, start, end)
print(my_string.rfind("e"))

1
8
13
-1
13

In [285]:
# 5. string.index(value, start, end)
my_string = "Hello, welcome to my world."
print(my_string.index("e"))
# print(my_string.index("q"))
# ValueError: substring not found

# 6. string.find(value, start, end)
print(my_string.rindex("e"))

1
13

In [287]:
# 7. string.count(value, start, end)

my_string = "I love apples, apple is my favorite fruit"
print(my_string.count("apple"))
print(my_string.count("apple", 10, 24))

2
1

In [289]:
# 8. string.upper()

my_string = "apple"
print(my_string.upper())

APPLE

In [291]:
# 9. string.lower()

my_string = "APPLE"
print(my_string.lower())

apple

In [293]:
# 10. string.swapcase()

my_string = "AAPpllEe"
print(my_string.swapcase())

aapPLLeE

In [295]:
# 11. string.title()

my_string = "WElComE to PYThon"
print(my_string.lower())
print(my_string.upper())
print(my_string.swapcase())
print(my_string.title())

welcome to python
WELCOME TO PYTHON
weLcOMe TO pytHON
Welcome To Python

In [297]:
# 12. string.islower()
my_string = "Welcome to Python"
print(my_string.islower())

False

In [299]:
# 13. string.isupper()

my_string = "Welcome to Python"
print(my_string.isupper())

False

In [301]:
# 14. string.istitle()

my_string = "Welcome to Python"
print(my_string.istitle())

False

In [303]:
# 15. string.isalpha()

my_string = "WelcometoPython"
print(my_string.isalpha())

True

In [305]:
# 16. string.isnumeric()

my_string = "2345"
print(my_string.isnumeric())

True

In [307]:
# 17. string.isalnum()

my_string = "WelcometoPython2345"
print(my_string.isalnum())

True

In [309]:
# 18. string.isdigit()

my_string = "12335"
print(my_string.isdigit())

True

In [311]:
# 19. string.isdecimal()

my_string = "-1"
print(my_string.isdecimal())

my_string = "1"
print(my_string.isdecimal())

my_string = "\u0030"
print(my_string.isdecimal())

False
True
True

In [313]:
# 20. string.isspace()

my_string = " "
print(my_string.isspace())

my_string = "q b"
print(my_string.isspace())

True
False

In [315]:
# 21. string.isidentifier() 

my_string = "my_string"
print(my_string.isidentifier())

True

In [317]:
# 22. string.strip(charcters)

my_string = ",,,,rrrttgg.....banana....rrr"
print(my_string.strip(",.grt"))

banana

In [319]:
# 23. string.rstrip(characters)

my_string = ",,,,rrrttgg.....banana....rrr"
print(my_string.rstrip(",.grt"))

,,,,rrrttgg.....banana

In [321]:
# 23. string.lstrip(characters)

my_string = ",,,,rrrttgg.....banana....rrr"
print(my_string.lstrip(",.grt"))

banana....rrr

In [323]:
# 25. string.center(length, character)

my_string = "Python"
print(my_string.center(10))
print(my_string.center(10, "$"))

  Python
$$Python$$

In [325]:
# 26. string.ljust(length, character)

my_string = "Python"
print(my_string.ljust(10))
print(my_string.ljust(10, "$"))

Python
Python$$$$

In [327]:
# 27. string.rjust(length, character)

my_string = "Python"
print(my_string.rjust(10))
print(my_string.rjust(10, "$"))

    Python
$$$$Python

In [329]:
# 28. string.zfill(len)

my_string = "Python"
print(my_string.zfill(10))

0000Python

In [331]:
# 29. string.startswith()

my_string = "Python"
print(my_string.startswith("P"))

True

In [333]:
# 30. string.endswith()

my_string = "Python"
print(my_string.endswith("n"))

True

In [335]:
# 31. string.replace(old value, new value, count)

my_string = "i like dogs"
print(my_string.replace("like", "love"))

i love dogs

In [337]:
# 32. string.split(separator, maxsplit)

my_string = "i like dogs"
print(my_string.split())

['i', 'like', 'dogs']

In [339]:
# 33. string.rsplit(separator, maxsplit)

my_string = "i like dogs"
print(my_string.rsplit())

['i', 'like', 'dogs']

In [341]:
# 34. string.splitlines(False/True)

my_string = "i like dogs"
print(my_string.splitlines())

['i like dogs']

In [343]:
# 35. separator.join(iterable)

my_tuple = ("John", "Peter", "Vicky")
print("#".join(my_tuple))

John#Peter#Vicky

In [345]:
# 36. string.format(value1, value2)

age = 36
# my_string = "My name is gireesh, I am" + age
# print(my_string)
# TypeError: can only concatenate str (not "int") to str

my_string = "My name is gireesh, I am {}".format(age)
print(my_string)

My name is gireesh, I am 36