<img src = "python-logo.png" width = "300" height = "300">
<h1>Advanced Functions in Python</h1>

<h4>1. lambda() function:</h4>
<ul>
    <li>It is a small ananymous function, faster than normal function.</li>
    <li>Takes any no.of arguments but can only have one expression.</li>
    <li>It cannot access global variables.</li>
    <li>It is defined by lambda keyword, not def keyword and doesn't have any name.</li>
</ul>

In [4]:
# Traditional function

def cube(y):
    return y * y * y
cube(3)

27

In [6]:
# lambda function

cube = lambda y : y * y * y
cube(3)

27

In [8]:
add = lambda a, b : print(f"Total: {a + b}")
add(10, 20)

Total: 30

In [10]:
multiiply = lambda a, b : a * b
multiiply(10, 2)

20

In [16]:
my_string = "apple"
upper = lambda a : a.upper()
upper(my_string)

'APPLE'

In [18]:
x = lambda a, b = 10, c = 20 : a + b + c
x(20)

50

In [20]:
x = lambda *a : sum(a)
x(20, 30, 40, 50)

140

In [22]:
even = lambda a : a % 2 == 0
even(2)

True

In [28]:
# IIFE (immediately invoked function expression)

(lambda a, b : a * b) (10, 3)

30

In [30]:
# lambda with user-defined functions

def my_function(x):
    return lambda a : a * x
f = my_function(10)
print(f)
f(6)

<function my_function.<locals>.<lambda> at 0x000002478ED52660>

60

In [34]:
my_list = [1, 2, 3, 4, 5, 6]
new_list = []
for i in my_list: 
    f = lambda x : x + 1
    new_list.append(f(i))
print(new_list)

[2, 3, 4, 5, 6, 7]

In [36]:
# lambda with higher-defined function

high_order = lambda x, my_fun : x + my_fun(x)
high_order(20, lambda x : x * x)

420

<h4>2. filter() function:</h4>
<ul>
    <li>The filter() function filters the given sequence with the help of a function that tests each item in the sequence to be True or not.</li>
</ul>

In [55]:
def my_function(x):
    if x >= 18:
        return True
    else:
        return False

ages = [5, 12, 17, 18, 25, 32, 16, 19]

adults = filter(my_function, ages)
print(list(adults))

[18, 25, 32, 19]

In [57]:
def even_numbers(num):
    if num % 2 == 0:
        return True
    else:
        return False

numbers = [1, 2, 3, 4, 5, 6]

filtered = filter(even_numbers, numbers)
for i in filtered:
    print(i)

2
4
6

In [61]:
result = list(filter(lambda x : x % 2 == 0, range(0, 11)))
print(result)

[0, 2, 4, 6, 8, 10]

<h4>3. map() function:</h4>
<ul>
    <li>The map() function is used to return a list of results after applying a given function to each item of an iterable object.</li>
</ul>

In [65]:
# Traditional function

def addition(n):
    return n + n

numbers = [1, 2, 3, 4, 5]
result = []

for i in numbers:
    result.append(addition(i))

print(result)

[2, 4, 6, 8, 10]

In [67]:
# map() function

def my_function(n):
    return n + n

numbers = (1, 2, 3, 4, 5)

result = map(addition, numbers)
print(tuple(result))

(2, 4, 6, 8, 10)

In [69]:
numbers1 = [10, 20, 30]
numbers2 = [40, 50, 60]
numbers3 = [70, 80, 90]

result = map(lambda x, y, z : x + y + z, numbers1, numbers2, numbers3)
print(list(result))

[120, 150, 180]

<h4>4. reduce() function</h4>
<ul>
    <li>It returns a single value applying a function to an iterable.</li>
    <li>We need to import a module called functools to work with reduce function.</li>
</ul>

In [74]:
from functools import reduce

num = [1, 2, 3, 4, 5, 6]

def sum(a, b):
    return a + b

print(reduce(sum, num))

21

<h4>Operator module:</h4>
<ul>
    <li>It provides a set of functions that correspond to the standard operators used in Python.</li>
    <li>We can use this module in reduce function to perform arithmetic operations instead of lambda or traditional functions.</li>
</ul>

In [91]:
from functools import reduce
import operator

num = [1, 2, 3, 5, 6, 2]

print(f"Addition: {reduce(operator.add, num)}")
print(f"Subtraction: {reduce(operator.sub, num)}")
print(f"Multiplication: {reduce(operator.mul, num)}")
print(f"Division: {reduce(operator.truediv, num)}")
print(f"Concate String with add(): {reduce(operator.add, ["Hello", " World"])}")
print(f"Concate String with concat(): {reduce(operator.concat, ["Hello", " World"])}")

Addition: 19
Subtraction: -17
Multiplication: 360
Division: 0.002777777777777778
Concate String with add(): Hello World
Concate String with concat(): Hello World

<h4>Accumulate() function:</h4>
<ul>
    <li>It returns the intermediate results in the form of iterable object.</li>
</ul>

In [99]:
from itertools import accumulate

num = [1, 3, 4, 5, 6, 8]

print(f"Reduce Function: {reduce(lambda a, b : a + b, num)}")
print(f"Accumulate Function: {list(accumulate(num, lambda a, b : a + b))}")

Reduce Function: 27
Accumulate Function: [1, 4, 8, 13, 19, 27]